# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to .env.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="secret"
NEXTAUTH_URL="http://localhost:3000"

# Next Auth CKAN Login Provider
CKAN_URL="https://demo.dev.datopian.com"
#CKAN_URL="https://wri.dev.ckan.datopian.com"
NEXT_PUBLIC_CKAN_URL=
#NEXT_PUBLIC_CKAN_URL="https://wri.dev.ckan.datopian.com"
#
# S3 Storage
S3_ACCESS_KEY_ID="minioadmin"
S3_SECRET_KEY_ID="minioadmin"
S3_BUCKET_NAME="ckan"
S3_BUCKET_REGION="us-east-1"

# LOCAL
SYS_ADMIN_API_KEY="1111"

AZURE_AD_CLIENT_ID="ffffffff-ffff-ffff-ffff-ffffffffffff"
AZURE_AD_CLIENT_SECRET="ffffffff-ffff-ffff-ffff-ffffffffffff"
AZURE_AD_TENANT_ID="ffffffff-ffff-ffff-ffff-ffffffffffff"
SMTP_SERVER="smtp.ssss.com"
SMTP_PORT="587"
SMTP_USER="SMTP_Injection"
SMTP_PASSWORD="b07f"
SMTP_FROM="sssss@ssss.org"
RW_API_KEY="1111"

PREFECT_INTERNAL_URL="http://127.0.0.1"
NEXT_PUBLIC_NEXTAUTH_URL=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_HOTJAR_ID=
NEXT_PUBLIC_GFW_API_KEY="1111"
