# Change these to the desired task distribution percentages (should sum to 1000, so 70% = 700, 2% = 20, etc).
# A total of 1000 appears to work better than a total of 100, even with the same percentages.
# Some of the lower percentages (like 1%) were not appearing as often as expected when using a total of 100.
# Possibly due to some sort of rounding or rough weighting done in Locust backend code.
HOME_TASKS_WEIGHT=700          # 70%
DATASETS_TASKS_WEIGHT=210      # 21%
TOPICS_SEARCH_TASKS_WEIGHT=120 # 12%
TOPICS_PAGE_TASKS_WEIGHT=110   # 11%
SEARCH_TASKS_WEIGHT=20         # 2%
TEAMS_SEARCH_TASKS_WEIGHT=10   # 1%
TEAMS_PAGE_TASKS_WEIGHT=10     # 1%
API_AUTOMATION_TASKS_WEIGHT=20 # 2%
API_MANUAL_TASKS_WEIGHT=10     # 1%