@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  accent-color: #32864B;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-attrib{
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  width: 100%;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 100%;
  max-width: 95%;
  margin: 10px auto;
  float: none;
}
