@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
	letter-spacing: 0px;
  accent-color: #32864B;
}

/* Mapbox */

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-attrib{
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  width: 100%;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 100%;
  max-width: 95%;
  margin: 10px auto;
  float: none;
}

.suggestions {
  max-height: 220px;
}

@media screen and (min-width: 640px) {
.mapboxgl-ctrl-geocoder--input {
    height: 36px;
    padding: 6px 35px !important;
}
}


/* Carousel things */

.dataset-tabs .swiper-slide {
  width: fit-content !important;
}

.default-home-container {
  max-width: 90vw;
}

.auto-carousel .swiper-slide {
  width: fit-content !important;
}

