[Unit]
Description=Prefect serve 

[Service]
User=prefect
WorkingDirectory=/app
ExecStart=python3 datapusher/main.py
Restart=always

[Install]
WantedBy=multi-user.target
